body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

.title {
    text-align: center;
    margin: 25px 0px 0px 150px;
    padding-bottom: 50px;
    font-size: 80px;
    font-family: 'Handlee', cursive;
    color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}
  
img {
    /* width: 100%; */
    width: 448px;
    height: 320px;
}

.photos {
    flex: 1 0 25%;
    /* max-width: 33%; */
    width: 25%;
    position: relative;
    width: 33%;
    margin: 20px 20px 20px 40px;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.753), 0 6px 20px 0 rgba(0, 0, 0, 0.753);
    display: block;
}

/* .list-image {
    display: block;
    /* changed to auto from 100% */
    /* width: 100; 
    height: 100%;
} */

.list-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(226, 226, 226, 0.75);
    overflow: hidden;
    width: 475px;
    height: 0;
    transition: .5s ease;
}

.photos:hover .list-caption {
    height: 100%;
    margin-left: 14.25px;
    margin-right: 500px;
    width:475px;
    /* box-shadow: 0 4px 8px 0 rgb(163, 221, 26), 0 6px 20px 0 rgb(163, 221, 26); */
}

.list-synopsis {
    white-space: nowrap; 
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    /* font starts to the left */
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: 'Istok Web', sans-serif;
    text-align: center;
}

.list-wrapper {
    width: 475px;
}
  
.list-wrapper:hover {
    /* border: 2px solid #000; */
    cursor: pointer;
    /* margin-left: 18px; */
}

.fa-camera-retro {
    color: rgb(228, 125, 40);
    font-size: 40px;
    margin-right: 40px;
}

.fa {
    font-size: 10px;
    margin-right: 10px;
}

.image-vote {
    margin: 20px;
}

.clickMe {
    background-color: #3b5999;
    color: #fff;
    font-size: 20px;
    /* margin-top: 10px; */
    height: 50px;
    width: 130px;
    padding: 0;
    border: 1px solid #fff;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
}

.clickMe:hover {
    background-color: #fff;
    color: #3b5999;
    border: 1px solid #3b5999;
}

.clickMeDown {
    background-color: indianred;
    color: #fff;
    font-size: 20px;
    /* margin-top: 10px; */
    height: 50px;
    width: 130px;
    padding: 0;
    border: 1px solid #fff;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
}

.clickMeDown:hover {
    background-color: #fff;
    color: indianred;
    border: 1px solid indianred;
}

.clickCount {
    background-color: #3b5999;
    color: #fff;
    font-size: 20px;
    /* margin-top: 10px; */
    height: 50px;
    width: 130px;
    padding: 0;
    border: 1px solid #fff;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
}

.clickCount:hover {
    background-color: #fff;
    color: #3b5999;
    border: 1px solid #3b5999;
}

.counter {
    font-size: 30px;
    margin-bottom: 10px;
}

.like {
    margin: 20px;
}